<footer class="footer">
    <div class="support">
        <a href="#" class="text">회사소개</a>
        <a href="#" class="text">인재채용</a>
        <a href="#" class="text">이용약관</a>
        <a href="#" class="text">고객센터</a>
    </div>
    <div class="copyright"> 
        <strong>ⓒfoodwith</strong> All Right Reserved.</span>
    </div>
</footer>