<header class="header">
    <div class="header_inner">
        <a href="./main.html" class="logo_link"><h1 class="logo">foodwith</h1></a>
        <div class="gnb">
            <a href="#" class="gnb_button" type="button">메뉴</a>
            <nav class="menu">
                <a href="#" class="menu_item">About</a>
                <a href="#" class="menu_item">Work</a>
                <a href="#" class="menu_item">Contact</a>
            </nav>
        </div>
    </div>
</header>