<section class="view_section">
  <div class="view_section_wrap">
    <h2 class="view_section_title">딸기 케이크</h2>
    <ul class="meta_list">
      <li class="meta_item">
        <div class="sortation">CHEF</div>
        <div class="description">FULLMOON</div>
      </li>
      <li class="meta_item">
        <div class="sortation">CATEGORY</div>
        <div class="description">디저트</div>
      </li>
      <li class="meta_item">
        <div class="sortation">DATE</div>
        <div class="description number">2018.02.02</div>
      </li>
      <li class="meta_item">
        <div class="sortation">VIEW</div>
        <div class="description number">2,356</div>
      </li>
    </ul>
    <div class="food_info">
      <h3 class="food_title">음식정보</h3>
      <div class="food_description">
        딸기를 주재료로 쓴 케이크 딸기를 토핑으로 쓰거나, 딸기를 갈아서 반죽에
        넣은 케이크<br />
        <a href="https://terms.naver.com" target="_blank" class="food_link"
          >https://terms.naver.com</a
        >
      </div>
    </div>
    <div class="material">
      <h3 class="food_title">재료 및 분량</h3>
      <div class="food_description">
        딸기, 밀가루 290g, 달걀 1개, 크림치즈 200g, 설탕 70g, 설탕 시럽, 생크림
        160g, 물 100mL
      </div>
    </div>
    <div class="make">
      <h3 class="food_title">만드는 법</h3>
      <ol class="food_description">
        <li class="order">밀가루, 달걀, 물을 볼에 넣고 잘 섞어준다.</li>
        <li class="order">
          냄비에 반죽을 넣고 약한 불에서 20분간 익혀준다. 잔열로 5분간 더
          익혀준다. 다 익었으면 꺼낸 뒤 한 김 식힌다.
        </li>
        <li class="order">
          크림치즈 200g을 부드럽게 풀고 설탕 70g을 넣고 섞는다.
        </li>
        <li class="order">
          케이크 시트를 3등분하여 1개를 밑에 깔고 설탕시럽을 바른다.
        </li>
        <li class="order">
          반으로 자른 딸기를 올려준 뒤, 만들었던 치즈 크림을 딸기가 덮어질
          정도로 채운다.
        </li>
        <li class="order">다시 케이크 시트를 올리고 설탕 시럽을 바른다.</li>
        <li class="order">
          시트 위에 생크림을 얇고 평평히 발라준 뒤 크림이 굳을 수 있게 냉장실에
          3시간 정도 넣어준다.
        </li>
        <li class="order">케이크가 굳었으면 딸기를 올려 장식해준다.</li>
      </ol>
    </div>

    <table class="summary">
      <caption class="blind">
        딸기케이크 만드는 법
      </caption>
      <thead>
        <th scope="col" class="summary_title first">가열시간</th>
        <th scope="col" class="summary_title seccond">조리과정</th>
        <th scope="col" class="summary_title third">불조절</th>
      </thead>
      <tbody>
        <tr>
          <td class="summary_description">재료준비</td>
          <td class="summary_description">밀가루, 계란, 물로 반죽 만들기</td>
          <td class="summary_description"></td>
        </tr>
        <tr>
          <td class="summary_description">20min</td>
          <td class="summary_description">반죽 익히기</td>
          <td class="summary_description">약한불</td>
        </tr>
        <tr>
          <td class="summary_description">5min</td>
          <td class="summary_description">반죽 뜸들인 후 완성</td>
          <td class="summary_description">잔열</td>
        </tr>
      </tbody>
    </table>

    <div class="food_img_wrap">
      <figure>
        <img
          src="./image/strawberry_cake_material.jpg"
          class="img"
          alt="밀가루, 달걀"
        />
        <figcaption class="description">
          [사진1] 밀가루, 달걀 및 재료
        </figcaption>
      </figure>
      <figure>
        <img src="./image/strawberry_cake.jpg" class="img" alt="딸기 케이크" />
        <figcaption class="description">[사진2] 딸기 케이크 완성</figcaption>
      </figure>
    </div>
  </div>
</section>
