<section class="main_section">
    <a href="#" class="banner_wrap">
        <div class="banner">
            <img src="../image/banner_strawberry.png" class="img" alt="딸기케이크">
            <p class="text">
                오븐 없이도 베이킹 가능! 달콤 상큼 봄맞이 노오븐 딸기 케이크 만들기!
            </p>
            <hr class ="contour">
            <div class="writer">
                <img src="../image/thumbnail_profile.jpg" class="profile_img" alt="프로필이미지">
                <div class="name">FULLMOON</div>
            </div>
        </div>
    </a>
    <div class="description_wrap">
        <div class="description">
            <ul class="thumb_list">
                <li class="thumb_wrap">
                    <div class="wrap">
                        <a href="#" class="thumb_link">
                            <div class="thumb_edge">
                                <img src="../image/thumbnail_pumpkin.jpg" class="img" alt="호박죽">
                            </div>
                                <p class="text">
                                    따뜻 담백 호박! 든든한 호박죽으로 한끼 해결하기
                                </p>
                        </a>
                    </div>
                </li>
                <li class="thumb_wrap">
                    <div class="wrap">
                        <a href="#" class="thumb_link">
                            <div class="thumb_edge">
                                <img src="../image/thumbnail_lime.jpg" class="img" alt="라임청">
                            </div>
                                <p class="text">
                                    상큼한 라임청 담기
                                </p>
                        </a>
                    </div>
                </li>
               <li class="thumb_wrap">
                    <div class="wrap">
                        <a href="#" class="thumb_link">
                            <div class="thumb_edge">
                                <img src="../image/thumbnail_paprika.jpg" class="img" alt="빨간 피망 볶음">
                            </div>
                            <p class="text">
                                아삭아삭 빨간 피망 볶음 레시피
                            </p>
                        </a>
                    </div>
                </li>
                <li class="thumb_wrap">
                    <div class="wrap">
                        <a href="#" class="thumb_link">
                            <div class="thumb_edge">
                                <img src="../image/thumbnail_garlic.jpg" class="img" alt="마늘빵">
                            </div>
                            <p class="text">
                                바삭바삭 마늘빵 만들기
                            </p>
                        </a>
                    </div>
                </li>
               <li class="thumb_wrap">
                    <div class="wrap">
                        <a href="#" class="thumb_link">
                            <div class="thumb_edge">
                                <img src="../image/thumbnail_onion.jpg" class="img" alt="적양파 피클">
                            </div>
                            <p class="text">
                                자색 빛깔 적양파 피클 담기
                            </p>
                        </a>
                    </div>
                </li>
               <li class="thumb_wrap">
                    <div class="wrap">
                        <a href="#" class="thumb_link">
                            <div class="thumb_edge">
                                <img src="../image/thumbnail_avocado.jpg" class="img" alt="아보카도 샌드위치">
                            </div>
                            <p class="text">
                                건강한 아보카도 샌드위치 만들기
                            </p>
                        </a>
                    </div>
                </li>
            </ul>
            <button type="button" class="more_button">
                <div class="arrow"></div>더보기
            </div>
        </div>
    </div>
    <div class="send_msg_wrap">
        <div class="send_msg">
            <div class="title">
                <div class="msg1">전하고 싶은 말을 남겨주세요.</div>
                <div class="msg2">답변을 원하시면 이메일을 꼭 적어주세요.</div>
            </div>
            <form class="send_form"> 
                <div class="nickname_wrap">
                    <label name="" value="" for="nickname" class="label_name">닉네임</label>
                    <input type="text" id="nickname" placeholder="NICKNAME" class="nickname">
                    <button type="submit" class="send_button">전송하기</button>
                </div>
                <div class="email_wrap">
                    <label for="email" class="label_name">이메일</label>
                    <div class="email">
                        <div class="id_wrap">
                            <input type="email" placeholder="ID" class="id" id="email">
                            <span class="at">@</span>
                        </div>         
                                    
                        <div class="email_select">
                            선택하세요
                            <select class="list">
                                <option value="네이버">naver.com</option>
                                <option value="다음">daum.net</option>
                            </select>
                        </div>
                    </div>
                    <textarea class="message" placeholder="전하고 싶은 말을 100자 이내로 적어주세요."></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="notice_wrap">
        <div class="notice">
            <div class="title">공지사항</div>
            <div class="wrap">
                <a href="#" class="notice_link">
                    <div class="text">다양한 소식을 담은 foodwith! 정식 오픈을 안내드립니다.</div>
                <a href="#" class="notice_link">
                    <div class="more_view">더보기</div>
                </a>
            </div>
                <hr class="contour">
        </div>
        <div class="information">
            <div class="info1">
                <div class="title">Creators</div>
                <a href="#" class="text">푸드 크리에이터</a>
                <a href="#" class="text">푸드 비즈니스</a>
            </div>
            <div class="info2">
                <div class="title">Partners</div>
                <a href="#" class="text">푸드 파트너</a>
                <a href="#" class="text">푸드 스토어</a>
            </div>                   
        </div>
    </div>
</section>