<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Viewer</title>
        <link rel="stylesheet" href="./css/foodwith.css">
    </head>

    <body>
        <%- include('../components/view/ViewHeader') %>
        <%- include('../components/view/ViewSection') %>
        <%- include('../components/view/ViewFooter') %>
        <script>
            var menu_button = document.querySelector('.gnb .gnb_button');
            var nav = document.querySelector('.gnb .menu');
            function handleClick(e){
                e.preventDefault();
                nav.classList.toggle('visible');
            }
            menu_button.addEventListener('click', handleClick);
        </script>
    </body>
</html>