body, header, section, footer, div, nav, a, h1, h2, ul, ol, li, p,
img, form, label, input, span, textarea,
table, thead, tbody, th, tr, td, ul, ol, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}